<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead"></p>
        <div class="list-group">
          <li class="list-group-item active">item-1</li>
          <li class="list-group-item">item-2</li>
          <li class="list-group-item">item-3</li>
        </div>
        <!-- map -->
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img src="<%=ground.image%>" alt="campground" class="img-responsive">
        <div class="caption-full">
          <h4 class="pull-right">$9.00/night</h4>
          <h2><a><%=ground.name %></a></h2>
          <h4><%=ground.desc %></h4>
          <p><em>Created By<%= ground.author.username %></em></p>

          <% if(current && ground.author.id.equals(current._id)) { %>
          <a href="/grounds/<%= ground._id %>/edit" class="btn btn-warning ">Edit</a>
          <form action="/grounds/<%=ground._id%>?_method=DELETE" method="POST" id="btn-delete">
            <button type="submit" name="button" class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a href="/grounds/<%=ground.id%>/comments/new"><button class="btn btn-success"  name="button" >comment here</button></a>
        </div>
        <hr>
        <% ground.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%=comment.username%> </strong>
              <span class="pull-right">10 days ago</span>
              <p>
                 - <%=comment.text %>
              </p>
            </div>
          </div>

        <% }); %>

      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
