<% include partials/header.ejs %>



<h2><%=ground.name %></h2>

<img src="<%=ground.image%>" alt="" class="img-rounded">

<p><%= ground.desc %></p>

<% ground.comments.forEach(function(comment){ %>
  <p>
    <strong><%= comment.author %> </strong> - <%=comment.text %>
  </p>
<% }) %>

<% include partials/footer.ejs %>
